@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary-100: #D8E7DA;
	--primary-200: #BFD6C7;
	--primary-300: #A5C6B6;
	--primary-400: #8CB5A9;
	--primary-500: #74A39E;
	--primary-600: #5B8E92;
	--primary-700: #437080;
	--primary-800: #3A5771;
	--primary-900: #314062;
	--primary-1000: #050e12;
  --secondary-100: #D8E7E7;
	--secondary-200: #BFD2D6;
	--secondary-300: #A5BAC6;
	--secondary-400: #8C9FB5;
	--secondary-500: #7481A3;
	--secondary-600: #5B6092;
	--secondary-700: #494380;
	--secondary-800: #4B3A71;
	--secondary-900: #4A3162;
	--secondary-1000: #0e0c1f;
}

html {
    background-color: var(--secondary-100);;
    font-family: sans-serif;
  }
  
  body {
    margin: 0 auto;
    width: 100%;
    max-width: 80ch;
    padding: 1rem;
    line-height: 1.5;
  }
  
  * {
    box-sizing: border-box;
  }
  
  h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
  }

  /* nav styles */

.hamburger {
  padding-right: 20px;
  cursor: pointer;
}
  
.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: var(--secondary-700);
 }

.nav-links {
  width: 100%;
  top: 5rem;
  left: 48px;
  background-color: var(--secondary-700);
  display: none;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-links a:hover,
.nav-links a:focus {
  background-color: var(--primary-500);
}

.expanded {
  display: unset;
}

@media screen and (min-width: 636px) {
  .nav-links {
    margin-left: 5em;
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }
  
  .hamburger {
    display: none;
  }
}

/* dark mode */
html.dark {
  background-color: var(--primary-1000);
  color: #fff;
}

.dark .nav-links a {
  color: #fff;
}