---
import BaseLayout from '@layouts/BaseLayout.astro';
import HelloWorld from '@components/HelloWorld'
const pageTitle = "Home Page";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>My awesome homepage subtitle</h2>
  <HelloWorld client:load />
</BaseLayout>
